@import url("https://fonts.googleapis.com/css2?family=Belleza&display=swap");

* {
  font-family: "Belleza", sans-serif;
  margin: 0;
}
.vl {
  border-left: 2px solid #f93f7d;
  height: 100vh;
}

.container {
  display: flex;
  margin: 0 auto;
  max-width: 1500px;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#gameover {
  background-color: #f93f7d;
  flex-direction: column;
  color: white;
 justify-content: center;
 align-content: center;
 min-width: 100vw;
}

.results {
  font-size: 100px;
  margin-bottom: 10px;
}

.phrase {
  font-size: 30px;
  margin-bottom: 100px;
}

.play-again {
  border: 0px;
  font-size: 50px;
}

.play-again:hover {
  color: #76f176;
  cursor: pointer;
}
.card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex: 1;
  /* background-color: blueviolet; */
  text-align: center;
  height: 100vh;
}

.selection-text {
  font-size: 100px;
  text-decoration: none;
  color: #f93f7d;
  padding: 20px;
  transition: transform 0.5s ease-in-out;
}

.user-choice:hover {
  color: #76f176;
  cursor: pointer;
  transform: rotate(-5deg);
}

img {
  transition: transform 0.7s ease-in-out;
}
img:hover {
  transform: rotate(360deg);
}

.computer-choice {
  color: rgb(222, 222, 222);
}

.blink-me {
  animation: blinker 0.2s;
  animation-iteration-count: 7;
}

@keyframes blinker {
  25% {
    color: #f93f7d;
  }
  75% {
    color: #f93f7d;
  }
}

.score {
  font-size: 50px;
  color: #f93f7d;
  margin-top: 80px;
}

.infoboard {
  margin-bottom: 80px;
  font-size: 30px;
  color: #f93f7d;
}
